body {
    background-color: #f7f3c4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'bebas neue', sans-serif;
    height: 100vh;
}

@font-face {
    font-family: 'bebas neue';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

.calendar-container {
    background-color: #ffffff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 8px 0 #a7a7a7;
    padding: 20px;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button{
    background-color: #353535;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 10px;

}

.calendar-days div {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.calendar-days div:hover {
    background: #bc8888;
    transform: scale(1.05);
}

.calendar-days div.has-event {
    background: #7e5f5f;
    color: white;
    font-weight: bold;
}

.calendar-days div.today {
    background: #c84371;
    color: white;
}


 